.ClockDiv {
  /* background-color: blue; */
  /* border: solid 1px red; */
  margin: auto;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  background-color: rgb(51, 52, 53);
  border-radius: 10px;
  position: relative;
  z-index: -1;
  /* opacity: 0.5; */
}
@font-face {
  src: url("../font/digital-7.ttf") format("truetype");
  font-family: "Digital-7";
}
.ClockH1 {
  /* opacity: 0.5; */
  /* color: green; */
  color: rgb(67, 72, 75);
  font-size: 1.4rem;
  font-family: "Digital-7";
  /* padding: 10px; */
  width: 100%;
}
.ClockH3 {
  /* color: rgb(228, 241, 247); */
  color: white;
  font-family: "Digital-7";
  font-size: 50px;
  margin: 20px 0 20px;
  width: 100%;
}
.ClockH1,
.ClockH3 {
  flex-grow: 1;
}
